@using EleWise.ELMA.CRM.Web
@using EleWise.ELMA.CRM.Web.Extensions
@using EleWise.ELMA.ComponentModel
@using EleWise.ELMA.Web.Content
@{
    ViewBag.Title = "Входящий вызов";
}

<h2>Входящий вызов от</h2>
<h2>@ViewData["phoneString"]</h2>
